@tailwind base;
@tailwind components;
@tailwind utilities;

.background-project-wall {
  background-image: url("https://images.unsplash.com/photo-1699134115052-bd7899efddcc");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-noise-filter {
  background-image: url("/bg-noise.svg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
