.background {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #090e22, #0b021a);
}

.background .noise {
  background-image: url("/bg-noise.svg");
  height: 100vh;
  width: 100vw;
  opacity: 35%;
  position: fixed;
}
